@import "../../styles/variables";

.section {
  width: 100%;
  padding: 40px 16px;

  &.full {
    min-height: calc(100vh - 56px);
  }
}

#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 32px;
  padding-right: 32px;

  h1 {
    font-size: calc(1rem + 0.5vw);
    font-weight: 400;
  }

  h2 {
    font-size: calc(2.5rem + 2vw);
    padding-right: 80px;
  }

  h3 {
    font-size: calc(2.5rem + 2vw);
    color: $primary;
    padding-right: 40px;
    margin-bottom: 32px;
  }

  p {
    font-size: calc(1rem + 0.25vw);
    font-weight: 400;
    color: $primary;
    max-width: 500px;
    margin-bottom: 32px;
  }

  .btn-group {
    display: flex;
    flex-wrap: wrap;

    button {
      width: 152px;
      margin-right: 24px;
      margin-bottom: 16px;
    }
  }
}

#blog {
  padding-left: 32px;
  padding-right: 32px;

  .article-list {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin-top: 32px;

    .article {
      border: solid 1px rgba($primary, 0.9);
      width: 100%;
      height: 100%;
      padding: 24px 16px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      transition: all 200ms;

      h3 {
        font-size: 2rem;
        font-weight: 400;
        margin-right: 24px;
      }

      p {
        padding: 2px;
        color: $primary;
      }

      svg {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 10px;
        right: 10px;

        path {
          fill: $primary;
        }
      }

      .tag-list {
        margin: 8px 0;
        display: flex;
        flex-wrap: wrap;

        .tag {
          padding: 2px 8px;
          background-color: rgba($primary, 0.15);
          border: 1px solid rgba($primary, 0.9);
          border-radius: 3px !important;
          font-size: 0.8rem;
          margin: 4px;
        }
      }

      &:hover {
        background-color: $primary;

        h3 {
          color: #fff;
        }

        p {
          color: rgba(#fff, 0.8);
        }

        svg path {
          fill: rgba(#fff, 0.8);
        }

        .tag-list .tag {
          color: rgba(#fff, 0.8);
          border-color: #fff;
        }
      }
    }
  }
}
