@import "../../styles/variables";
@import "../../styles/breakpoints";

.section {
  width: 100%;
  padding: 40px 32px;

  &.full {
    min-height: calc(100vh - 56px);
  }

  .section-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      font-size: unquote("min(4rem, calc(2.5rem + 1vw))");
      font-weight: 400;
      color: $primary;
      position: relative;
      margin-right: 24px;
      min-width: fit-content;
    }

    span {
      margin-top: 8px;
      width: 100%;
      height: 2px;
      background-color: rgba($primary, 0.15);
    }
  }

  .section-description {
    font-size: unquote("min(1.5rem, calc(1rem + 0.25vw))");
    padding: 12px 0;
  }
}

#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-size: unquote("min(1.8rem, calc(1rem + 0.5vw))");
    font-weight: 400;
  }

  h2 {
    font-size: unquote("min(4rem, calc(2.5rem + 1vw))");
    padding-right: 80px;
  }

  h3 {
    font-size: unquote("min(4rem, calc(2.5rem + 1vw))");
    color: $primary;
    padding-right: 40px;
    margin-bottom: 32px;
  }

  p {
    font-size: unquote("min(1.5rem, calc(1rem + 0.25vw))");
    font-weight: 400;
    color: $primary;
    max-width: 500px;
    margin-bottom: 32px;
  }

  .btn-group {
    display: flex;
    flex-wrap: wrap;

    button {
      width: 152px;
      margin-right: 24px;
      margin-bottom: 16px;
    }
  }
}

#blog {
  .article-list {
    display: grid;
    gap: 32px;
    grid-template-columns: 1fr 1fr;
    margin-top: 32px;

    @include sm {
      grid-template-columns: 1fr;
    }

    .article {
      border: solid 1px rgba($primary, 0.9);
      width: 100%;
      height: 100%;
      padding: 24px 16px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      transition: all 250ms;

      h3 {
        font-size: 2rem;
        font-weight: 400;
        margin-right: 24px;
      }

      p {
        padding: 2px;
        color: $primary;
      }

      svg {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 10px;
        right: 10px;

        path {
          fill: $primary;
        }
      }

      .tag-list {
        margin: 8px 0;
        display: flex;
        flex-wrap: wrap;

        .tag {
          padding: 2px 8px;
          background-color: rgba($primary, 0.15);
          border: 1px solid rgba($primary, 0.9);
          border-radius: 3px !important;
          font-size: 0.8rem;
          margin: 4px;
        }
      }

      &:hover {
        background-color: $primary;

        h3 {
          color: #fff;
        }

        p {
          color: rgba(#fff, 0.8);
        }

        svg path {
          fill: rgba(#fff, 0.8);
        }

        .tag-list .tag {
          color: rgba(#fff, 0.8);
          border-color: #fff;
        }
      }
    }
  }
}

#contact {
  .contact-form {
    width: 100%;
    max-width: 500px;
    margin: 16px auto;
    display: flex;
    flex-direction: column;

    .input-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 16px;

      label {
        font-size: unquote("min(1.5rem, calc(1rem + 0.25vw))");
        margin-bottom: 4px;
      }

      input,
      textarea {
        padding: 8px;
        border: 1px solid #d9d9d9;
        font-size: unquote("min(1.5rem, calc(1rem + 0.25vw))");
        transition: border 250ms;

        &:hover,
        &:focus {
          outline: none;
          border-color: $primary;
        }

        &.input-error {
          border-color: #ce2c04;

          &:hover,
          &:focus {
            border-color: #ce2c04;
          }
        }
      }

      textarea {
        resize: vertical;
        min-height: 120px;
        max-height: 500px;
      }
    }

    .error-div {
      margin: 8px auto;
      color: #ce2c04;
      text-align: center;
      line-height: 1.2rem;
      max-width: 400px;

      a {
        color: $primary;
        text-decoration: underline;

        &:hover {
          color: #000;
        }
      }
    }
  }
}
