@import "../styles/variables";

:root {
  font-size: 16px !important;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif !important;
  border-radius: 0 !important;
}

body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  min-height: 100%;
}

button {
  all: unset;
  cursor: pointer;
  outline: none;
  border: none;
  font: inherit;
  background: none;
  text-transform: capitalize;
}

.btn {
  font-size: 1rem;
  height: 40px;
  min-width: 80px;
  text-align: center;
  padding: 0 24px;
  font-weight: 400;
  transition: color 300ms, background-color 300ms, transform 150ms;
  color: $primary;
  background-color: #fff;
  border: 1px solid $primary;

  &:hover {
    color: #fff;
    background-color: $primary;
    border-color: $primary;
  }

  &:active {
    transform: translateY(2px);
  }

  &.btn-primary {
    color: #fff;
    background-color: $primary;
    border-color: $primary;

    &:hover {
      background-color: darken($primary, 10%);
      border-color: darken($primary, 10%);
    }
  }
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;

  &:active {
    color: inherit;
  }

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  padding: 0 32px;

  &-fluid {
    padding: 0 32px;
    width: 100%;
    max-width: none;
  }
}

.page {
  padding-top: 56px;
  position: relative;
  min-height: 100vh;
}

.main {
  padding-bottom: 120px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px;
  background-color: $secondary;

  .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.header {
  z-index: 100;
  height: 56px;
  border-bottom: 1px solid $primary;
  width: 100%;
  position: fixed;
  background-color: #fff;

  .container-fluid {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .nav {
    ul {
      list-style: none;
      text-decoration: none;
      text-transform: capitalize;
      display: flex;

      li {
        padding: 10px;
        position: relative;

        &:hover {
          background-color: rgba($secondary, 0.2);
        }
        & + li {
          margin-left: 10px;
        }

        a {
          width: 100%;
          height: 100%;

          &::before {
            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }

        &.nav-btn {
          transition: color 300ms, background-color 300ms, transform 150ms;
          color: $primary;
          background-color: #fff;
          border: 1px solid $primary;
          margin-left: 16px;

          &:hover {
            color: #fff;
            background-color: $primary;
            border-color: $primary;
          }

          &:active {
            transform: translateY(2px);
          }
        }
      }
    }

    &-mobile {
      z-index: 99;
      position: absolute;
      top: 56px;
      right: 0;
      height: calc(100vh - 56px);
      width: 45%;
      min-width: 200px;
      max-width: 250px;
      background-color: #fff;
      transition: all ease-in 200ms;
      transform: translateX(100%);
      visibility: hidden;
      display: flex;
      align-items: center;
      box-shadow: 0px 20px 45px 5px rgba($primary, 0.2);

      &.open {
        transform: translateX(0);
        visibility: visible;
      }

      ul {
        width: 100%;
        height: 100%;
        max-height: 500px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: space-around;

        li {
          width: calc(100% - 20px);
          margin: 0 10px;
          padding: 24px 0;

          &.nav-btn {
            width: fit-content;
            padding: 16px 24px;
            margin: 0 10px;
          }
        }
      }
    }

    &-overlay {
      width: 100%;
      height: calc(100vh - 56px);
      position: fixed;
      top: 56px;
      left: 0;
    }
  }

  .dropdown {
    padding: 20px;
    position: relative;

    &:hover {
      background-color: rgba($secondary, 0.2);
    }

    .icon {
      width: 32px;
      height: 2px;
      background-color: $primary;
      position: absolute;
      right: 4px;

      &::before,
      &::after {
        content: " ";
        background-color: $primary;
        height: 2px;
        position: absolute;
        right: 0;
        transition: all ease-in 200ms;
      }

      &:before {
        width: 20px;
        top: -8px;
      }

      &:after {
        width: 32px;
        top: 8px;
      }

      &.open {
        width: 0;

        &::before {
          animation: icontop 500ms forwards;
        }
        &::after {
          animation: iconbottom 500ms forwards;
        }
      }
    }
  }
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;

  .icon {
    margin: 0 10px;
    height: 25px;
    width: 25px;
    transition: all 200ms;

    &:hover {
      transform: translateY(-3px);
    }

    img {
      height: 100%;
    }
  }
}

@keyframes icontop {
  0% {
    width: 20px;
    top: -8px;
    transform: rotate(0deg);
  }
  50% {
    width: 32px;
    top: 0px;
    transform: rotate(0deg);
  }
  100% {
    width: 32px;
    top: 0px;
    transform: rotate(45deg);
  }
}

@keyframes iconbottom {
  0% {
    top: 8px;
    transform: rotate(0deg);
  }
  50% {
    top: 0px;
    transform: rotate(0deg);
  }
  100% {
    top: 0px;
    transform: rotate(-45deg);
  }
}
